<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Car</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="checkbox" color="primary"></ion-icon>
      <ion-icon name="trash" color="primary" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Car</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card *ngFor="let item of data" >
    <ion-card-header>
      <ion-card-subtitle>{{item.descripcion}}</ion-card-subtitle>
      <ion-card-title>{{"$"+item.precio}}</ion-card-title>
      <ion-checkbox  color="primary"  (ionChange)="changeProduct($event, item.precio, item.cantidad)" [(ngModel)]="item.check" ></ion-checkbox>

    </ion-card-header>
    <ion-card-content id="content">
      <img [src]= "setImage(item.imagen)" alt="no hay imagen"  />
      <section>
        <ion-icon name="remove" slot="start" (click)="restarCantidad($event, item.id)"></ion-icon>
          <p>{{item.cantidad}}</p>
        <ion-icon name="add" slot="end" (click)="sumarCantidad($event, item.id)"></ion-icon>
      </section>
      
    </ion-card-content>


  </ion-card>

  <ion-footer id="footer"> 
    <ion-toolbar>
      
      <ion-title size="large" >{{"$"+ total}}</ion-title>

      <ion-button id="pagar" slot="end" color="primary" fill="outline" >
        BUY
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>