<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" color="primary" (click)="onBack()"></ion-icon>                
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <img [src]="imagen" />
  <section class="descripcion-detalle">
    <h2>{{precio}}</h2>
    <p>
      {{descripcion}}      
      <ion-button id="" [disabled]="!permiteAgg" (click)="addToCar()" expand="block">Add To Car</ion-button>

    </p>
  </section>

</ion-content>