<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="primary" >Back</ion-back-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <img src="assets/seco-terno2.png" />
  <section class="descripcion-detalle">
    <h2>$35.89</h2>
    <p>
      El terno de 3 piezas incluye la leva, el chaleco y el pantalón, el lavado es en seco, se entrega en armador y con su respectiva funda
      
      <ion-button id="" expand="block">Add Car</ion-button>

    </p>
  </section>

</ion-content>