<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <section>
    <ion-img id="imagen"src="assets/login.png"></ion-img>
    <ion-item id="usuario">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="email" ></ion-input>
    </ion-item>

    <ion-item id="password">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    
      <ion-button id="login" fill="outline" expand="block" color="primary">LOGIN</ion-button>
    
  </section>
</ion-content>